/*  Colors  */
:root {
  --very-dark-grayish-blue: #48556a;
  --desaturated-dark-blue: #6d7f97;
  --grayish-blue: #9eafc2;
  --light-grayish-blue: #ecf2f8;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--light-grayish-blue);
}

.wrapper {
  padding: 20px;
}

.container {
  max-width: 768px;
  margin: auto;
}

.article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  color: var(--desaturated-dark-blue);
  background: #fff;
}

.article__content {
  position: relative;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__title {
  font-size: 1.3rem;
}

.article__title, .article__text {
  margin-bottom: 10px;
}

.article__title, .user-info__name {
  color: var(--very-dark-grayish-blue);
}

.img-fluid {
  max-width: 100%;
}

.article__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.share-icon {
  width: 35px;
  height: 35px;
  background: var(--light-grayish-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.share-info__mobile {
  position: absolute;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: var(--very-dark-grayish-blue);
  padding: 1rem 2rem;
  -webkit-transition: .7s;
  transition: .7s;
}

.share-info__mobile .share-icon {
  background: var(--desaturated-dark-blue);
}

.share-info__mobile-social-icon {
  margin: 0 8px;
}

.share-info__mobile .share-info__mobile-social-icon:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.share-info__mobile.share-info__mobile--active {
  bottom: 0;
}

.share-info__mobile-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 499px) {
  .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .share-info__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */